<div class="container">

    <h1>Contacto</h1>
    <h3>tamaño del slider</h3>
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">4
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>
    <div *ngIf="anchuratoSlider">
        

    
        <slider [anchura]="anchuratoSlider"
        (conseguirAutor)="getAutor($event)"></slider>
    </div>
    
    <div *ngIf="autor">{{autor.nombre+ " "+ autor.web}}</div>
</div>