<div class="container" *ngIf="project">
    
    <div class="image" *ngIf="project.image"><img src="{{url+'get-image/'+project.image}}"  *ngIf="project.image" alt=""></div>
    <div class="data">
        <h1>
            {{project.name}}
        </h1>
        <h3>{{project.description}}</h3>
        <p>{{project.categoru}}</p>
        <p>{{project.langs}}</p>
        <p>
            <a [routerLink]="['/editar-proyecto',project._id]" class="button-edit">Editar</a>
            <a (click)="deleteProject(project._id)" class="button-delete">Borrar</a>
        </p>
    </div>
    
</div>
