<div class="container">
    <h2>{{title}}</h2>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
            <span class="form_error" *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="description">Descripcion</label>
            <textarea required name="description" #description="ngModel" [(ngModel)]="project.description"></textarea>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                La descripcion es obligatoria
            </span>
        </p>
        <p>
            <label for="category">Categoria</label>
            <input type="text"  required name="category" #category="ngModel" [(ngModel)]="project.categoru">
            <span class="form_error" *ngIf="category.touched && !category.valid">
                La Categoria es obligatoria
            </span>
        </p>
        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number"  name="year" #year="ngModel" [(ngModel)]="project.year">
            
        </p>
        <p>
            <label for="langs">Lenguajes de programacion</label>
            <input type="text" required name="langs" #langs="ngModel" [(ngModel)]="project.langs">
            <span class="form_error" *ngIf="langs.touched && !langs.valid">
                El lenguaje es obligatorio
            </span>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <input type="file"  placeholder="Subir imagen" name="image" >
            
        </p>

        <button type="submit" [disabled]="!projectForm.valid">Enviar</button>
    </form>

</div>
