
/*  IMPORTAR FUENTES CUSTOM */
@font-face {
    font-family: "Barrio";
    src: url("fonts/Barrio.ttf");
}
@font-face {
    font-family: "Bebas";
    src: url("fonts/BebasN.ttf");
}
@font-face {
    font-family: "Carter";
    src: url("fonts/CarterOne.ttf");
}
@font-face {
    font-family: "Cherry";
    src: url("fonts/Cherry.ttf");
}
@font-face {
    font-family: "Game";
    src: url("fonts/Game.ttf");
}
@font-face {
    font-family: "Macondo";
    src: url("fonts/Macondo.ttf");
}
@font-face {
    font-family: "Monton";
    src: url("fonts/Monton.ttf");
}
@font-face {
    font-family: "Rigterus";
    src: url("fonts/Rigterus.ttf");
}
@font-face {
    font-family: "Underdog";
    src: url("fonts/Underdog.ttf");
}
@font-face {
    font-family: "Zcool";
    src: url("fonts/Zcool.ttf");
}
@font-face {
    font-family: "ZillaBold";
    src: url("fonts/ZillaBold.ttf");
}
@font-face {
    font-family: "ZillaRegular";
    src: url("fonts/ZillaRegular.ttf");
}
/*  GENERALES   */
*{
    margin:0px;
    padding: 0px;
}
body{
    background:pink;
    font-family: "Rigterus";
    font-size: 20px;
    background: url('../img/greypat.jpg');
    background-attachment: fixed;
}
/* BARRA DE NAVEGACION  HEADER  */
header{
    display: block;
    width: 100%;
    height: 100px;
    background: #023047;
    position: fixed;
    text-transform: uppercase;
}
header ul{
    display: block;
    width: 48%;
    height: 100%;
    margin: 0px auto;

}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}
header a{
display: block;
padding-right: 25px;
padding-left: 25px;
height: inherit;
text-decoration: none;
color: #ffb703;
transition: all 300ms;

}
.clearfix{
    float: none;
    clear: both;
}
header a:hover, .actived{
    background: #457b9d;

}
header #logo a:hover{
background: transparent;

}
#logo a{
    transition: color 500ms,transform 500ms;
}
#logo a:hover{
    background: transparent;
    color:#e63946;
    transform: scale(1.50,1.50);
}
#logo{
    font-family: "Rigterus";
    font-size: 50px;
}

/*  CONTENEDOR  PRINCIPAL*/
#content{
    min-height: 500px;
    padding-top: 120px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgb(226, 222, 213 0.7);
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}
/*  PIE PAGINA*/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(29, 29, 29, 0.466);
}