
/*  IMPORTAR FUENTES CUSTOM */
@font-face {
    font-family: "Barrio";
    src: url("fonts/Barrio.ttf");
}
@font-face {
    font-family: "Bebas";
    src: url("fonts/BebasN.ttf");
}
@font-face {
    font-family: "Carter";
    src: url("fonts/CarterOne.ttf");
}
@font-face {
    font-family: "Cherry";
    src: url("fonts/Cherry.ttf");
}
@font-face {
    font-family: "Game";
    src: url("fonts/Game.ttf");
}
@font-face {
    font-family: "Macondo";
    src: url("fonts/Macondo.ttf");
}
@font-face {
    font-family: "Monton";
    src: url("fonts/Monton.ttf");
}
@font-face {
    font-family: "Rigterus";
    src: url("fonts/Rigterus.ttf");
}
@font-face {
    font-family: "Underdog";
    src: url("fonts/Underdog.ttf");
}
@font-face {
    font-family: "Zcool";
    src: url("fonts/Zcool.ttf");
}
@font-face {
    font-family: "ZillaBold";
    src: url("fonts/ZillaBold.ttf");
}
@font-face {
    font-family: "ZillaRegular";
    src: url("fonts/ZillaRegular.ttf");
}
/*  GENERALES   */
*{
    margin:0px;
    padding: 0px;
}
body{
    background:pink;
    font-family: "Rigterus";
    font-size: 20px;
    background: url('../img/greypat.jpg');
    background-attachment: fixed;
}
/* BARRA DE NAVEGACION  HEADER  */
header{
    display: block;
    width: 100%;
    height: 100px;
    background: rgba(255, 251, 0, 0.774);
    position: fixed;
    text-transform: uppercase;
}
header ul{
    display: block;
    width: 45%;
    height: inherit;
    margin: 0px auto;

}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}
header a{
display: block;
padding-right: 20px;
padding-left: 20px;
height: inherit;
text-decoration: none;
color: rgb(63, 0, 88);
transition: all 300ms;
}
.clearfix{
    float: none;
    clear: both;
}
header a:hover{
    background: rgba(166, 255, 0, 0.514);
    color: black;
}
header #logo a:hover{
background: transparent;

}
#logo a{
    transition: color 500ms,transform 500ms;
}
#logo a:hover{
    background: transparent;
    color:rgb(214, 7, 24);
    transform: scale(1.50,1.50);
}
#logo{
    font-family: "Rigterus";
    font-size: 50px;
}